---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="flex flex-col gap-4 justify-center mt-12 md:mt-24">
	<h4 class="text-center">{title}</h4>

	<div class="flex flex-row justify-center">
		<a
			href="https://nimblo.cloud/"
			target="_blank"
			aria-label="Nimblo Cloud"
			class="w-full max-w-48 dark:text-white text-black"
		>
			<svg viewBox="0 0 887 88" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#nimblo-clip)">
					<path
						d="M809.804 86.0278V1.68713H843.299C869.686 1.68713 887.156 17.8323 887.156 43.8575C887.156 69.8826 869.686 86.0278 843.299 86.0278H809.804ZM827.154 71.3284H842.456C858.119 71.3284 869.686 61.328 869.686 43.8575C869.686 26.2664 858.119 16.3865 842.456 16.3865H827.154V71.3284Z"
						fill="currentColor"></path>
					<path
						d="M722.05 1.68713H739.4V51.6891C739.4 63.8582 747.714 71.9309 760.003 71.9309C772.293 71.9309 780.607 63.8582 780.607 51.6891V1.68713H797.957V49.7613C797.957 73.9791 784.221 87.2327 760.003 87.2327C735.906 87.2327 722.05 73.9791 722.05 49.7613V1.68713Z"
						fill="currentColor"></path>
					<path
						d="M668.816 87.2326C642.67 87.2326 624.838 69.8825 624.838 43.8574C624.838 17.8323 642.67 0.482239 668.816 0.482239C694.961 0.482239 712.673 17.8323 712.673 43.8574C712.673 69.8825 694.961 87.2326 668.816 87.2326ZM668.816 72.0513C684.479 72.0513 695.202 61.328 695.202 43.8574C695.202 26.2664 684.479 15.6636 668.816 15.6636C653.273 15.6636 642.309 26.2664 642.309 43.8574C642.309 61.328 653.273 72.0513 668.816 72.0513Z"
						fill="currentColor"></path>
					<path
						d="M558.325 86.0278V1.68713H575.676V71.3284H619.653V86.0278H558.325Z"
						fill="currentColor"></path>
					<path
						d="M470.285 43.8574C470.285 17.8323 487.033 0.482239 513.299 0.482239C531.613 0.482239 544.144 9.39825 549.445 22.2903L535.107 28.6761C531.854 21.5674 524.022 15.6636 513.299 15.6636C497.636 15.6636 487.756 26.2664 487.756 43.8574C487.756 61.328 497.636 72.0513 513.299 72.0513C524.022 72.0513 531.854 66.1475 535.107 58.9183L549.445 65.4245C544.144 78.1961 531.613 87.2326 513.299 87.2326C487.033 87.2326 470.285 69.8825 470.285 43.8574Z"
						fill="currentColor"></path>
					<path d="M85.6741 0H103.711V87.9288H85.6741V0Z" fill="currentColor"
					></path>
					<path
						d="M114.984 87.9288V0H131.931L160.136 49.7941L188.22 0H205.167V87.9288H187.736V26.6943L164.373 68.8615H155.778L132.415 26.6943V87.9288H114.984Z"
						fill="currentColor"></path>
					<path
						d="M57.4501 43.916V23.9594L74.4013 44.1604V87.9288H57.4501V60.0988C45.1949 45.2623 33.8465 30.7438 21.7048 16.141V87.9288H0V0H21.7048L57.4501 43.916ZM74.4013 34.0081L57.4501 13.8071V0H74.4013V34.0081Z"
						fill="currentColor"></path>
					<path
						d="M317.107 72.6049H346.052C348.333 76.6559 353.97 83.4196 358.479 85.6742V87.9288H299.86V0H317.107V72.6049Z"
						fill="currentColor"></path>
					<path
						d="M366.511 29.7984C364.764 33.8013 363.799 38.5555 363.799 43.9644C363.799 61.6723 374.212 72.543 388.973 72.543C395.903 72.543 401.813 70.1817 406.151 65.8717H425.958C419.319 79.6264 406.036 87.9288 388.973 87.9288C364.142 87.9288 347.206 70.343 347.206 43.9644C347.206 38.8968 347.834 34.1546 349.02 29.7984H366.511ZM388.973 0C413.804 1.13805e-05 430.625 17.5863 430.626 43.9644C430.626 48.5404 430.119 52.8525 429.153 56.8534H411.863C413.269 53.1208 414.033 48.7981 414.033 43.9644C414.033 26.1349 403.849 15.388 388.973 15.388C382.791 15.388 377.376 17.2791 373.165 20.7801H352.552C359.418 7.79201 372.446 0 388.973 0Z"
						fill="currentColor"></path>
					<path
						d="M216.44 87.9288V0H259.747C276.238 0 286.435 8.79288 286.435 22.7359C286.435 32.9105 280.393 41.3265 271.077 42.8339C281.4 43.3363 290.842 50.245 290.842 64.188C290.842 79.1359 280.141 87.9288 262.264 87.9288H216.44ZM234.569 36.0734H257.023C264.073 36.0734 268.296 32.6915 268.296 24.8004C268.296 18.0367 264.073 13.5275 257.023 13.5275H234.569V36.0734ZM234.569 72.1467H260.405C267.455 72.1467 272.805 69.161 272.805 62.0011C272.805 54.9668 267.455 49.6009 260.405 49.6009H234.569V72.1467Z"
						fill="currentColor"></path>
				</g>
				<defs>
					<clipPath id="nimblo-clip">
						<rect width="887" height="88" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>
		</a>
	</div>
</div>
