node_modules
.env
.env.act
.env.local
.env.production
.env.test
.env.test.local
!.env.example
.neo4j
.turbo
out

# Playwright
playwright-report
test-results

# Build outputs
dist
.output
.nuxt
.nitro
.cache
.data
.astro
genql
