services:
  neo4j:
    image: neo4j:5.25.1
    volumes:
      - .neo4j/data:/data
    environment:
      NEO4J_AUTH: ${NEO4J_USERNAME}/${NEO4J_PASSWORD}
      NEO4J_apoc_export_file_enabled: true
      NEO4J_apoc_import_file_enabled: true
      NEO4J_apoc_import_file_use__neo4j__config: true
      NEO4J_PLUGINS: '["apoc"]'
    ports:
      - '7474:7474'
      - '7687:7687'
  postgres:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: betterauth
      POSTGRES_PASSWORD: localdevonly
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql

volumes:
  postgres:
