@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
	--sl-font: 'IBM Plex Sans Thai Looped', serif;
}

starlight-tabs > div {
	@apply mt-0;
}
