@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'carbon-components/css/carbon-components.css';

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('../fonts/IBMPlexSansThai-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('../fonts/IBMPlexSansThai-Bold.ttf');
	font-weight: 700;
}

* {
	font-family: 'IBM Plex Sans Thai', serif !important;
}

.bx--data-table-header,
.bx--data-table tbody,
.bx--data-table tbody tr td,
.bx--pagination,
.bx--pagination .bx--select-input {
	background-color: #ffffff;
}

.bx--toast-notification--error {
	width: 100%;
	margin: 0;
}

.bx--header {
	background-color: #ffffff;
	border-color: #c6c6c6;
	justify-content: space-between;
}

.bx--header__menu-trigger > svg {
	fill: #000000;
}

.bx--header__action:hover {
	svg {
		fill: #ffffff;
	}
}

.bx--header__action:focus {
	border-color: transparent;
}

.bx--overflow-menu-options {
	width: auto;
	background-color: #ffffff;
}

.bx--overflow-menu-options__option-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.bx--modal-content p {
	font-size: 14px;
}

.bx--inline-notification {
	max-width: 100%;
}

.bg-tag-icon-publish {
	background-color: #0e6027;
}

.bg-tag-background-publish {
	background-color: #a7f0ba;
}

.bg-tag-icon {
	background-color: #000;
}

.bg-tag-background {
	background-color: #e5e0df;
}

.text-body-01 {
	font-size: 14px;
}
