services:
  neo4j:
    image: neo4j:2025.12.1
    container_name: neo4j
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - ./neo4j/data:/data
    environment:
      NEO4J_AUTH: ${NEO4J_USERNAME}/${NEO4J_PASSWORD}
      NEO4J_apoc_export_file_enabled: true
      NEO4J_apoc_import_file_enabled: true
      NEO4J_apoc_import_file_use__neo4j__config: true
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_server_memory_heap_initial__size: 493m
      NEO4J_server_memory_heap_max__size: 493m
      NEO4J_server_memory_pagecache_size: 482200k
      NEO4J_server_jvm_additional: -XX:+ExitOnOutOfMemoryError
    labels:
      - docker-volume-backup.stop-during-backup=true

  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    restart: always
    network_mode: host
    volumes:
      - postgres:/var/lib/postgresql
    environment:
      POSTGRES_DB: betterauth
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    labels:
      - docker-volume-backup.stop-during-backup=true

  beszel-agent:
    image: henrygd/beszel-agent:0.16
    container_name: beszel-agent
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LISTEN: 45876
      HUB_URL: $BESZEL_AGENT_HUB_URL
      TOKEN: $BESZEL_AGENT_TOKEN
      KEY: $BESZEL_AGENT_KEY

  do-agent:
    image: digitalocean/do-agent:stable
    container_name: do-agent
    restart: always
    network_mode: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

  backup:
    image: offen/docker-volume-backup:v2
    container_name: backup
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/backup:/archive
      - postgres:/backup/postgres:ro
      - ./neo4j/data:/backup/neo4j:ro
    environment:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_S3_BUCKET_NAME: puwv-backup
      AWS_S3_PATH: wevis-politigraph
      AWS_STORAGE_CLASS: STANDARD_IA
      BACKUP_COMPRESSION: zst
      BACKUP_CRON_EXPRESSION: 0 21 * * 5
      BACKUP_RETENTION_DAYS: 30

volumes:
  postgres:
  beszel_agent:
