name: Build and deploy app

on:
  push:
    branches: ['main']
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'servers/db/*'
  workflow_dispatch:

jobs:
  build-api:
    name: Build API image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t wevisdemo/politigraph .
      - name: Save image
        run: docker save wevisdemo/politigraph | gzip > politigraph-image.tar.gz
      - name: Upload image and configs to server
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -azvP --chown=bot:deployer --chmod=g+w
          path: servers/api/compose.yml servers/api/nginx.conf politigraph-image.tar.gz
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: bot
          remote_key: ${{ secrets.SSH_KEY }}
          remote_path: ${{ secrets.SSH_APP_DIR }}
  update-server:
    name: Update server containers
    runs-on: ubuntu-latest
    needs:
      - build-api
    steps:
      - name: Update server containers
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: bot
          key: ${{ secrets.SSH_KEY }}
          script: |
            #!/usr/bin/env bash
            set -e
            cd ${{ secrets.SSH_APP_DIR }}
            docker image tag wevisdemo/politigraph:latest wevisdemo/politigraph:previous
            docker load --input politigraph-image.tar.gz
            docker compose up -d --remove-orphans
            docker exec nginx sh -c "nginx -t && nginx -s reload"
            docker container prune --force
            docker image prune --all --force --filter "until=72h"
  frontend:
    name: Build and upload frontend
    runs-on: ubuntu-latest
    needs:
      - update-server
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Turborepo
        run: bun add -g turbo@^2.6.1
      - name: Install dependencies
        run: bun install --frozen-lockfile --ignore-scripts --production
      - name: Build frontend apps
        run: turbo build
        env:
          NODE_ENV: production
          NUXT_PUBLIC_BASE_URL: https://politigraph.wevis.info
      - name: Join built outputs
        run: |
          mkdir dist
          cp -r ./apps/docs/dist/* ./dist
          mkdir dist/admin
          cp -r ./apps/admin/.output/public/* ./dist/admin
      - name: Upload to server
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -azvP --chown=bot:deployer --chmod=g+w --delete
          path: ./dist/*
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: bot
          remote_key: ${{ secrets.SSH_KEY }}
          remote_path: /var/htdocs/web
